<!DOCTYPE html>
<html lang="en">
   {{> header   }}
  <body>
   
 {{> navbar   }}
    <div class="container-fluid">
      <div>
        <h2>Welcome {{user.name}}</h2>
      </div>
    </div>
  </body>
</html>